body{
    border: 2px solid black;
    padding: 30px;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap:10px;
   font-size: 30px;
  }
  .grid-container1{
    display: grid;
    grid-template-columns:auto;
    font-size: 30px;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap:10px;
    font-size: 30px;
  }
  p{
    background-color: red;
    color: whitesmoke;
    font-size: 50px;
    /* display: inline; */
    background-position: center;
    background-size: auto;
    text-align: center;
    margin:30px;
    
  }
  #Fname{
      border: none;
      background-color: transparent;
      border-bottom:2px solid black;
  }
  #Lname{
    border: none;
    background-color: transparent;
    border-bottom:2px solid black;
}
#Add{
    border: none;
    background-color: transparent;
    border-bottom:2px solid black;
}
#city{
    border: none;
    background-color: transparent;
    border-bottom:2px solid black;
}
#state{
    border: none;
    background-color: transparent;
    border-bottom:2px solid black;
}
#zip{
    border: none;
    background-color: transparent;
    border-bottom:2px solid black;
}